<h1>Hej products go here</h1>

    <%products.forEach(function(product) {%>
      <ul>
        <li><%= product.id%></li>
        <li><%= product.name%></li> 
        <li><%=product.description%></li> 
        <li><%=product.price%></li> 
        <%if(role == 'admin'){%>
          <a href="http://localhost:5000/products/edit/<%=product.id%>">Edit</a>
          <%} else {%>
        <form method="post" action="http://localhost:5000/cart/add">
            <input type="number" name="quantity" placeholder="quantity" id="quantity">
            <input type="hidden" name="name"  value="<%=product.name%>">
            <input type="hidden" name="price"  value="<%=product.price%>">
            <button>Add to cart</button>

        </form>
         <%}%>
    </ul>
     
        <%})%>

